body {
    margin: 0 0 0 0;
}

.container {
    width: 100%;
    width: 1020px;
    margin: auto;
}

.header {
    width: 100%;
    display: flex;
    /*флекс элементы в строчку*/
    align-items: center;
    /* выровнятся по одной центральной линии*/
    justify-content: center;
    /* лого к левому сети к правому*/
    background-color: #2d303a;
    height: 90px;
    margin: auto;
}

.menu-list {
    margin-left: auto;
    margin-right: 40px;
}

.menu-link {
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    /*убрать подчеркивание ссылки*/
    margin-right: 24px;
    /*расстояние между пунктами меню*/
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    margin-left: 40px;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

sup {
    font-size: 20px;
    color: #f06c64;
}